node_modules
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out

# 音声をGitで無視するが、写真フォルダ自体は残す
public/music/*
!public/music/.gitkeep

# CSVをGitで無視するが、写真フォルダ自体は残す
public/credit/*
!public/credit/.gitkeep

# ロゴをGitで無視する
public/logo/*
!public/logo/.gitkeep

# 生成された設定ファイルを無視するが、exampleは残す
src/generated/*.json
!src/generated/*.example.json

*.mp3
*.csv

build

# --- Added ---
api/data
